In [ ]:
1.Write a Python program that prints numbers from 1 to 5.
Expected Output:
1 2 3 4 5

In [ ]:
2.Write a Python program to print the first 5 even numbers. Expected Output:
2 4 6 8 10

In [ ]:
3.Write a Python program to print the sum of numbers from 1 to 10. 
Expected Output:55

In [ ]:
4.Write a Python function to find the factorial of 5. Expected Output:
120

In [ ]:
5.Write a Python program to check if a number is prime. Expected Output (for input 7):
7 is a prime number

In [5]:
# 1.Write a Python program that prints numbers from 1 to 5.

for i in range(1,6):
    print(i,end=" ")

1 2 3 4 5

In [40]:
# 2.Write a Python program to print the first 5 even numbers.

for i in range(1,6):
    print(i*2,end=" ")

2 4 6 8 10

In [16]:
# 3.Write a Python program to print the sum of numbers from 1 to 10

total=0
for i in range(1,11):
    total+=i
print(total)

55

In [34]:
# 4.Write a Python function to find the factorial of 5.

def factorial(n):
    result=1
    for i in range(1,n+1):
        result*=i
    return result

In [35]:
print(factorial(5))

120

In [83]:
# Write a Python program to check if a number is prime.

num=int(input("Enter the number:"))

if num>1:
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            print("It's not a prime number")
            break
    else:
        print("It's a prime number")
else:
    print("It's not a prime number")

Enter the number: 7

It's a prime number

In [49]:
for i in range(10,1,-1):
    print (i,end=" ")

10 9 8 7 6 5 4 3 2 1

In [75]:
for i in range(1,20):
    if i%2!=0:
        print(i,end=" ")

1 3 5 7 9 11 13 15 17 19

In [76]:
for i in range(1,51):
    if i%5==0:
        print(i,end=" ")

5 10 15 20 25 30 35 40 45 50

In [86]:
num=int(input("Enter the number:"))

if num>1:
    for i in range(2,int(num**0.5)+1):
        if num%i==0:
            print(num,"is not a prime number")
            break
    else:
        print(num,"is a prime number")
else:
    print(num,"is not a prime number")

Enter the number: 15

15 is not a prime number

In [97]:
# Find the sum of even numbers from 1 to 20
total=0
for i in range(1,21):
    if i%2==0:
        total+=i
print(total)

110

In [98]:
# Find the sum of all numbers divisible by 3 from 1 to 30
total=0
for i in range(1,31):
    if i%3==0:
        total+=i
print(total)

165

In [102]:
print(sum(range(3,31,3)))

165

In [104]:
# Find the sum of numbers from 50 to 100
total=0
for i in range(50,101):
    total+=i
print(total)

3825

In [105]:
print(sum(range(50,101)))

3825

In [106]:
# Find the sum of all numbers divisible by 7 between 1 and 100.

print(sum(range(0,101,7)))

735

In [107]:
total=0
for i in range(1,101):
    if i%7==0:
        total+=i
print(total)

735

In [109]:
# Find the sum of squares of numbers from 1 to 10
total=0
for i in range(1,11):
    total+=i**2
print(total)

385

In [110]:
print(sum(i**2 for i in range(1,11)))

385

In [111]:
# Find the sum of cubes of numbers from 1 to 5.
print(sum(i**3 for i in range(1,6)))

225

In [113]:
total=0
for i in range(1,6):
    total+=i**3
print(total)

225

In [114]:
print(5/2)

2.5