In [1]:
for number in range(0,20):
    print(number)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19

In [2]:
for number in range(10,20):
    print(number)

10
11
12
13
14
15
16
17
18
19

In [11]:
for num in range(10,20):
    print(num,end=" ")

10 11 12 13 14 15 16 17 18 19

In [24]:
Lists=[10, 20, 14, 55, 43, 87, 76]
print(Lists)
print("The number of items in the Lists:")
print(len(Lists))

[10, 20, 14, 55, 43, 87, 76]
The number of items in the Lists:
7

In [40]:
main="Artificial Intelligence"
print(main)
for temp in main:
    print(temp)

Artificial Intelligence
A
r
t
i
f
i
c
i
a
l

I
n
t
e
l
l
i
g
e
n
c
e

In [41]:
print("-Your Name-")
print("-Your Age-")
print("-Your Profession-")

-Your Name-
-Your Age-
-Your Profession-

In [75]:
Tuple1 = (0, 1, 2, 3)
T1=('python', 'HOPE')
print(((Tuple1),(T1)))

((0, 1, 2, 3), ('python', 'HOPE'))

In [15]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for num in numbers:
    if num%2!=0:
        print(num,"is odd")

(20, 10, 16, 19, 25, 1, 276, 188)
19 is odd
25 is odd
1 is odd

In [16]:
numbers=(20,10,16,19,25,1,276,188)
print(numbers)
for num in numbers:
    if num%2==0:
        print(num,"is even")

(20, 10, 16, 19, 25, 1, 276, 188)
20 is even
10 is even
16 is even
276 is even
188 is even